
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    overflow:hidden;
}

.nav-item{
    display:inline-block;

}

img{
    max-width: 20%;
    max-height: 20%;
}